/* Variables */

$primary-color: #5A2D82;

/* Responsiveness */

@media only screen and (max-width: 1280px) {
    header {
        flex-direction: column;
    }
    header, nav, main, footer {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
    .product {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 720px) {
    .above-search-box {
        flex-direction: column;
    }
}

/* General */

body {
    background-color: #EEE;;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

header, nav, main, footer {
    padding: 0 10em 0 10em;
}

/* Header */

header {
    background-color: $primary-color;
    color: #FFF;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.8;
        transition-duration: 100ms;
    }
}

.header-title {
    flex-grow: 1;

    h1 {
        margin: 0;
    }
}

.header-info {
    flex-grow: 5;
}

.above-search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    
    .glyph {
        align-items: center;
        font-size: 20px;
    }
}

.search-box-wrapper {
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 3em;

    i {
        color: #555;
        margin-top: 0.75em;
        width: 3em;
        text-align: center;
    }

    input {
        border: none;
        width: 100%;
    }

    input::placeholder {
        color: #999;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }
}

/* Main section / Product Cards */

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.product {
    background-color: #FFF;
    border: 1px solid #BBB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex: 1 20%;
    margin: 2%;
    max-width: 21%; /* 25% (4/row) - 4% (horizontal margin) */

    .wishlist-ribbon {
        background-color: #000;
        border-radius: 4px;
        color: #FFF;
        clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
        margin-top: -4px;
        margin-left: 5px;
        position: absolute;
        height: 2.5em;
        width: 2em;
        transition-duration: 100ms;
    }

    .wishlist-ribbon:hover {
        cursor: pointer;
        margin-top: -6px;
        transition-duration: 100ms;
    }

    .wishlist-ribbon.active {
        color: red;
    }

    .wishlist-ribbon i {
        margin-top: 0.5em;
        margin-left: 0.5em;
    }

    img {
        max-width: 100%;
    }
}

.product-title {
    color: #555;
    text-align: center;
    padding: 0 10px 0 10px;
    overflow-wrap: break-word;
}

.product-price {
    color: #E2CB2C;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Footer */

footer {
    background-color: #DDD;
    bottom: 0;
    color: #777;
    left: 0;
    padding: 1em;
    text-align: center;
}